/* Frontend Styles */
/* Base */
a {
  color: #ffe302;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
a:hover, a:active, a:focus {
  color: #ffe302;
}

form p {
  font-size: 1em;
  margin-bottom: 0.5rem;
}
form label {
  margin: 0;
  width: 100%;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=number],
input[type=url],
input[type=file],
textarea,
select {
  width: 100%;
  min-height: 60px;
  margin-top: 8px;
  padding: 8px;
  border: 2px solid #ffffff;
  border-radius: 1rem;
  background-clip: padding-box;
  box-sizing: border-box;
  color: #ffffff;
  background: #000000;
}

input[type=file] {
  position: relative;
  padding-top: 15px;
}
input[type=file]::-webkit-file-upload-button {
  visibility: hidden;
  display: none;
}
input[type=file]::after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  right: 15px;
  width: 24px;
  height: 24px;
  background: url(../../svg/upload.svg) center center no-repeat;
  background-size: contain;
  transform: translateY(-50%);
}

input[type=submit] {
  display: block;
  padding: 7px 25px;
  margin: 60px auto 0;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid #ffffff;
  border-radius: 1rem;
  color: #000000;
  background: #ffe302;
  box-sizing: border-box;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
input[type=submit]:hover, input[type=submit]:active, input[type=submit]:focus {
  background-color: #ceb700;
}

select {
  width: 100%;
  height: 2.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  background-image: linear-gradient(45deg, transparent 50%, #fff 50%), linear-gradient(135deg, #fff 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
  border: 2px solid #ffffff;
  border-radius: 1rem;
  box-shadow: 0 0 0 1000px transparent inset;
  -webkit-text-fill-color: #ffffff;
}

::placeholder {
  color: #ffffff;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #ffffff;
}

::-ms-input-placeholder {
  color: #ffffff;
}

/* Layout */
#header {
  position: absolute;
  width: 100%;
  z-index: 1080;
  font-weight: 600;
  text-transform: uppercase;
}
#header .topbar {
  display: none;
  background-color: rgba(0, 0, 0, 0.44);
}
@media (min-width: 992px) {
  #header .topbar {
    display: block;
  }
}
#header .topbar-menu-wrap {
  display: flex;
  flex: 1;
}
#header .topbar-menu-wrap:first-child {
  justify-content: flex-start;
}
#header .topbar-menu-wrap:last-child {
  justify-content: flex-end;
}
#header .topbar-menu-wrap li:not(:last-child) {
  position: relative;
}
#header .topbar-menu-wrap li:not(:last-child)::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 50%;
  background-color: #ffe302;
  transform: translateY(50%) translateX(0.5rem);
}
#header .topbar-menu > ul,
#header .topbar-menu {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 8px 0;
  font-size: 12px;
}
#header .topbar-menu > ul li:not(:first-child),
#header .topbar-menu > ul .menu-item:not(:first-child),
#header .topbar-menu li:not(:first-child),
#header .topbar-menu .menu-item:not(:first-child) {
  padding-left: 16px;
}
#header .topbar-menu > ul a,
#header .topbar-menu a {
  text-decoration: none;
}
#header.sticky {
  position: relative;
}
#header.sticky .navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.footer {
  background-color: #000000;
}
.footer ul {
  margin: 0;
  list-style: none;
  padding-inline-start: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.footer ul li {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .footer ul {
    flex-direction: row;
  }
  .footer ul li:not(:last-child) {
    margin-right: 15px;
  }
}
.footer a {
  color: #ffffff;
}

.footer-widgets {
  padding: 30px 0 0;
}
.footer-widgets .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 992px) {
  .footer-widgets .container {
    flex-direction: row;
  }
}
.footer-widgets .widget {
  padding: 0 0 15px;
  color: #ffffff;
  font-size: 0.8rem;
  text-align: center;
}
.footer-widgets .widget .widget-title {
  margin-bottom: 30px;
  color: #ffffff;
}
.footer-widgets .widget_nav_menu .menu-item {
  text-transform: uppercase;
}
.footer-widgets .widget_nav_menu .menu-item.current-menu-item a, .footer-widgets .widget_nav_menu .menu-item:hover a, .footer-widgets .widget_nav_menu .menu-item:active a, .footer-widgets .widget_nav_menu .menu-item:focus a {
  color: #ffe302 !important;
}
.footer-widgets .gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}
.footer-widgets .gallery .gallery-item {
  width: auto !important;
  margin: 0 !important;
}
@media (min-width: 768px) {
  .footer-widgets .gallery {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-widgets .gallery .gallery-item {
    width: auto !important;
    margin: 15px !important;
  }
}

.footer-menus .menu-item {
  font-size: 0.8em;
}
.footer-menus .footer-menu,
.footer-menus .footer-secondary-menus {
  margin: 15px 0;
}
@media (min-width: 768px) {
  .footer-menus .footer-menu li:not(:last-child),
.footer-menus .footer-secondary-menus li:not(:last-child) {
    position: relative;
  }
  .footer-menus .footer-menu li:not(:last-child)::after,
.footer-menus .footer-secondary-menus li:not(:last-child)::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 50%;
    background-color: #ffe302;
    transform: translateY(50%) translateX(0.5rem);
  }
}
.footer-menus .footer-menu li:not(:last-child)::after {
  background-color: #ffffff;
}
.footer-menus .footer-secondary-menus a {
  font-weight: 600;
  text-transform: uppercase;
  color: #ffe302;
}

.footer-copyright {
  font-size: 14px;
  background-color: #000000;
}
.footer-copyright .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

/* Components */
.navbar {
  transition: 0.3s;
  background: rgba(0, 0, 0, 0.8);
}
@media (min-width: 992px) {
  .navbar {
    background: unset;
  }
}

.navbar-brand img {
  max-width: 60%;
}
@media (min-width: 992px) {
  .navbar-brand img {
    max-width: initial;
  }
}

.navbar-nav .dropdown-menu {
  flex-direction: column;
  padding: 0;
  border: none;
  border-radius: 0;
  font-size: 0.8rem;
  font-weight: 500;
  background: rgba(0, 0, 0, 0.44);
}
@media (min-width: 992px) {
  .navbar-nav .dropdown-menu {
    margin-top: 18px !important;
  }
}
.navbar-nav .dropdown-menu .dropdown-item {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  color: #ffffff;
}
.navbar-nav .dropdown-menu .dropdown-item:hover, .navbar-nav .dropdown-menu .dropdown-item:active, .navbar-nav .dropdown-menu .dropdown-item:focus {
  background: inherit;
  color: #ffe302;
}

.nav-item .nav-link {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}
@media (min-width: 992px) {
  .nav-item {
    padding: 8px;
  }
  .nav-item .nav-link {
    position: relative;
    padding: 0 0 4px 0;
  }
  .nav-item .nav-link::after {
    content: "";
    width: 0;
    transition: width 0.3s ease;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:active, .navbar-light .navbar-nav .nav-link:focus {
  color: #ffe302;
}
.navbar-light .navbar-nav .active > .nav-link {
  color: #ffe302;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.blog .post,
.blog .page {
  border-bottom: 1px solid #ffffff;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-thumbnail {
  display: block;
  margin-bottom: 15px;
  overflow: hidden;
  box-shadow: unset;
  transition: all 0.3s ease;
}
.post-thumbnail figure {
  position: relative;
  margin: 0;
  z-index: -1;
}
.post-thumbnail img {
  transform: scale(1);
  transition: all 0.3s ease;
}
.post-thumbnail:hover img, .post-thumbnail:active img, .post-thumbnail:focus img {
  transform: scale(1.15);
}

.read-more-link {
  font-weight: bold;
  color: #ffffff;
  background: #ffe302;
}
.read-more-link:hover, .read-more-link:active, .read-more-link:focus {
  color: #ffffff;
  background-color: #ceb700;
}

.entry-header .entry-title {
  color: #ffffff;
}

.wp-block-cover__inner-container,
.entry-header,
.entry-content {
  width: 100% !important;
}
.wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull),
.entry-header > *:not(.alignwide):not(.alignfull),
.entry-content > *:not(.alignwide):not(.alignfull) {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 576px) {
  .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull),
.entry-header > *:not(.alignwide):not(.alignfull),
.entry-content > *:not(.alignwide):not(.alignfull) {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull),
.entry-header > *:not(.alignwide):not(.alignfull),
.entry-content > *:not(.alignwide):not(.alignfull) {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull),
.entry-header > *:not(.alignwide):not(.alignfull),
.entry-content > *:not(.alignwide):not(.alignfull) {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull),
.entry-header > *:not(.alignwide):not(.alignfull),
.entry-content > *:not(.alignwide):not(.alignfull) {
    max-width: 1140px;
  }
}
.wp-block-cover__inner-container .alignfull,
.entry-header .alignfull,
.entry-content .alignfull {
  max-width: 100%;
}
.wp-block-cover__inner-container .alignwide,
.entry-header .alignwide,
.entry-content .alignwide {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 1200px) {
  .wp-block-cover__inner-container .alignwide,
.entry-header .alignwide,
.entry-content .alignwide {
    max-width: 1140px;
  }
}

.search-form .search-submit {
  font-weight: bold;
  border: none;
  border-radius: 0 0.25rem 0.25rem 0;
  color: #ffffff;
  background: #ffe302;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.search-form .search-submit:hover, .search-form .search-submit:active, .search-form .search-submit:focus {
  background-color: #ceb700;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.widget img {
  max-width: 100%;
  height: auto;
  border: none !important;
}
.widget ul {
  padding: 0;
  padding-inline-start: 1em;
}
.widget li {
  margin-bottom: 12px;
}
.widget .gallery-item {
  margin-top: 8px !important;
  margin-bottom: 8px;
}

.widget-title {
  font-size: 1.4rem;
}

.tagcloud {
  text-align: center;
}
@media (min-width: 576px) {
  .tagcloud {
    text-align: inherit;
  }
}
.tagcloud .tag-cloud-link {
  display: inline-block;
  margin-bottom: 5px;
  padding: 8px;
  font-size: 1em !important;
  font-weight: bold;
  text-decoration: none;
  border-radius: 0.25em;
  color: #ffffff;
  background-color: #ffe302;
}
.tagcloud .tag-cloud-link:hover, .tagcloud .tag-cloud-link:active, .tagcloud .tag-cloud-link:focus {
  background-color: #ceb700;
}

.pagination .nav-links,
.post-navigation .nav-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  font-size: 1.2rem;
}
.pagination .nav-links > *,
.post-navigation .nav-links > * {
  padding: 1rem;
}

.pagination .current {
  color: #ffe302;
}

.comments .comment-list {
  padding: 0;
}
.comments .comment-list,
.comments .children {
  list-style: none;
}
.comments .comment-body {
  padding: 15px;
  margin-bottom: 1rem;
  border-radius: 0.25em;
  background-color: rgba(255, 255, 255, 0.015);
}
.comments .comment-form label {
  font-weight: bold;
  margin-bottom: 8px;
}
.comments .comment-reply-link {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid #ffffff;
  border-radius: 1rem;
  background-color: #ffe302;
  color: #000000;
}
.comments .reply {
  height: auto;
}

.companies-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
  gap: 30px;
  text-align: center;
}
@media (min-width: 768px) {
  .companies-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .companies-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.companies-grid img {
  max-width: 100%;
  height: auto;
}
.companies-grid a {
  color: #ffffff;
}
.companies-grid a:hover, .companies-grid a:active, .companies-grid a:focus {
  text-decoration: none;
}
.companies-grid .company {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 0;
  word-wrap: break-word;
  padding: 30px;
  border-radius: 35px;
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}
.companies-grid .company .logo,
.companies-grid .company .logo-alt {
  display: flex;
  flex: 1 1 90px;
  align-items: center;
}
.companies-grid .company .logo-alt {
  display: none;
}
.companies-grid .company .infos {
  display: flex;
  flex: 1 1 170px;
  flex-direction: column;
  justify-content: space-between;
}
.companies-grid .company-link {
  display: flex;
}
.companies-grid .company-link:hover .company, .companies-grid .company-link:active .company, .companies-grid .company-link:focus .company {
  color: #000000;
  background-color: #ffe302;
}
.companies-grid .company-link:hover .company .logo, .companies-grid .company-link:active .company .logo, .companies-grid .company-link:focus .company .logo {
  display: none;
}
.companies-grid .company-link:hover .company .logo-alt, .companies-grid .company-link:active .company .logo-alt, .companies-grid .company-link:focus .company .logo-alt {
  display: flex;
}
.companies-grid .company-link:hover .company .read-more, .companies-grid .company-link:active .company .read-more, .companies-grid .company-link:focus .company .read-more {
  text-decoration: underline;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
  gap: 100px;
  text-align: center;
}
@media (min-width: 768px) {
  .team-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.team-grid img {
  max-width: 100%;
  height: auto;
}
.team-grid a {
  color: #ffffff;
}
.team-grid a:hover, .team-grid a:active, .team-grid a:focus {
  text-decoration: none;
  color: #ffe302;
}
.team-grid .team-member {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 0;
  word-wrap: break-word;
  margin-top: 100px;
  padding: 30px;
  border: 1px solid #ffffff;
  border-radius: 35px;
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}
.team-grid .team-member .photo {
  position: absolute;
  top: -85px;
}
.team-grid .team-member .infos {
  display: flex;
  flex: 1 1 170px;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 100px;
}
@media (min-width: 768px) {
  .team-grid .team-member .infos {
    padding: 0 3rem;
  }
}
.team-grid .team-member .infos .title,
.team-grid .team-member .infos .role {
  margin: 0;
  padding: 0 3rem;
  line-height: 1.4;
}
.team-grid .team-member .infos .title {
  color: #ffe302;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  text-transform: uppercase;
}
.team-grid .team-member .infos .role {
  font-size: 1rem;
}
.team-grid .team-member .infos hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-top: 1px solid white;
  width: 25%;
}
.team-grid .team-member .infos .excerpt {
  margin: 0 0 2rem;
}
.team-grid .team-member .infos .linkedin {
  margin-bottom: 30px;
}
.team-grid .team-member .infos .linkedin span,
.team-grid .team-member .infos .linkedin i {
  font-size: 1.6rem;
}

.particles-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.circle-container {
  position: absolute;
  transform: translateY(-10vh);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 1;
}
.circle-container .circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  mix-blend-mode: screen;
  background-image: radial-gradient(#ffe302, #ffe302 10%, rgba(153, 255, 255, 0) 56%);
  animation: fadein-frames 200ms infinite, scale-frames 2s infinite;
}
@keyframes fade-frames {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scale-frames {
  0% {
    transform: scale3d(0.4, 0.4, 1);
  }
  50% {
    transform: scale3d(2.2, 2.2, 1);
  }
  100% {
    transform: scale3d(0.4, 0.4, 1);
  }
}
.circle-container:nth-child(1) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-1;
  animation-duration: 36360ms;
  animation-delay: 19083ms;
}
@keyframes move-frames-1 {
  from {
    transform: translate3d(47vw, 106vh, 0);
  }
  to {
    transform: translate3d(61vw, -119vh, 0);
  }
}
.circle-container:nth-child(1) .circle {
  animation-delay: 221ms;
}
.circle-container:nth-child(2) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-2;
  animation-duration: 36751ms;
  animation-delay: 8382ms;
}
@keyframes move-frames-2 {
  from {
    transform: translate3d(71vw, 102vh, 0);
  }
  to {
    transform: translate3d(86vw, -117vh, 0);
  }
}
.circle-container:nth-child(2) .circle {
  animation-delay: 2972ms;
}
.circle-container:nth-child(3) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-3;
  animation-duration: 29173ms;
  animation-delay: 28884ms;
}
@keyframes move-frames-3 {
  from {
    transform: translate3d(15vw, 102vh, 0);
  }
  to {
    transform: translate3d(48vw, -119vh, 0);
  }
}
.circle-container:nth-child(3) .circle {
  animation-delay: 3574ms;
}
.circle-container:nth-child(4) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-4;
  animation-duration: 33364ms;
  animation-delay: 4998ms;
}
@keyframes move-frames-4 {
  from {
    transform: translate3d(96vw, 106vh, 0);
  }
  to {
    transform: translate3d(24vw, -114vh, 0);
  }
}
.circle-container:nth-child(4) .circle {
  animation-delay: 3209ms;
}
.circle-container:nth-child(5) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-5;
  animation-duration: 28184ms;
  animation-delay: 16166ms;
}
@keyframes move-frames-5 {
  from {
    transform: translate3d(44vw, 108vh, 0);
  }
  to {
    transform: translate3d(42vw, -129vh, 0);
  }
}
.circle-container:nth-child(5) .circle {
  animation-delay: 706ms;
}
.circle-container:nth-child(6) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-6;
  animation-duration: 32642ms;
  animation-delay: 11068ms;
}
@keyframes move-frames-6 {
  from {
    transform: translate3d(25vw, 104vh, 0);
  }
  to {
    transform: translate3d(15vw, -108vh, 0);
  }
}
.circle-container:nth-child(6) .circle {
  animation-delay: 2056ms;
}
.circle-container:nth-child(7) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-7;
  animation-duration: 29433ms;
  animation-delay: 20997ms;
}
@keyframes move-frames-7 {
  from {
    transform: translate3d(44vw, 106vh, 0);
  }
  to {
    transform: translate3d(77vw, -117vh, 0);
  }
}
.circle-container:nth-child(7) .circle {
  animation-delay: 1335ms;
}
.circle-container:nth-child(8) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-8;
  animation-duration: 33006ms;
  animation-delay: 8910ms;
}
@keyframes move-frames-8 {
  from {
    transform: translate3d(47vw, 110vh, 0);
  }
  to {
    transform: translate3d(72vw, -123vh, 0);
  }
}
.circle-container:nth-child(8) .circle {
  animation-delay: 2653ms;
}
.circle-container:nth-child(9) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-9;
  animation-duration: 36723ms;
  animation-delay: 32085ms;
}
@keyframes move-frames-9 {
  from {
    transform: translate3d(2vw, 107vh, 0);
  }
  to {
    transform: translate3d(83vw, -116vh, 0);
  }
}
.circle-container:nth-child(9) .circle {
  animation-delay: 3687ms;
}
.circle-container:nth-child(10) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-10;
  animation-duration: 29536ms;
  animation-delay: 5142ms;
}
@keyframes move-frames-10 {
  from {
    transform: translate3d(28vw, 101vh, 0);
  }
  to {
    transform: translate3d(64vw, -103vh, 0);
  }
}
.circle-container:nth-child(10) .circle {
  animation-delay: 2195ms;
}
.circle-container:nth-child(11) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-11;
  animation-duration: 35614ms;
  animation-delay: 27225ms;
}
@keyframes move-frames-11 {
  from {
    transform: translate3d(18vw, 110vh, 0);
  }
  to {
    transform: translate3d(18vw, -120vh, 0);
  }
}
.circle-container:nth-child(11) .circle {
  animation-delay: 455ms;
}
.circle-container:nth-child(12) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-12;
  animation-duration: 32696ms;
  animation-delay: 7657ms;
}
@keyframes move-frames-12 {
  from {
    transform: translate3d(10vw, 101vh, 0);
  }
  to {
    transform: translate3d(93vw, -131vh, 0);
  }
}
.circle-container:nth-child(12) .circle {
  animation-delay: 2620ms;
}
.circle-container:nth-child(13) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-13;
  animation-duration: 30849ms;
  animation-delay: 14324ms;
}
@keyframes move-frames-13 {
  from {
    transform: translate3d(72vw, 107vh, 0);
  }
  to {
    transform: translate3d(50vw, -134vh, 0);
  }
}
.circle-container:nth-child(13) .circle {
  animation-delay: 1153ms;
}
.circle-container:nth-child(14) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-14;
  animation-duration: 33188ms;
  animation-delay: 7641ms;
}
@keyframes move-frames-14 {
  from {
    transform: translate3d(68vw, 104vh, 0);
  }
  to {
    transform: translate3d(5vw, -132vh, 0);
  }
}
.circle-container:nth-child(14) .circle {
  animation-delay: 859ms;
}
.circle-container:nth-child(15) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-15;
  animation-duration: 34205ms;
  animation-delay: 3577ms;
}
@keyframes move-frames-15 {
  from {
    transform: translate3d(52vw, 109vh, 0);
  }
  to {
    transform: translate3d(71vw, -125vh, 0);
  }
}
.circle-container:nth-child(15) .circle {
  animation-delay: 2853ms;
}
.circle-container:nth-child(16) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-16;
  animation-duration: 36701ms;
  animation-delay: 14151ms;
}
@keyframes move-frames-16 {
  from {
    transform: translate3d(59vw, 102vh, 0);
  }
  to {
    transform: translate3d(95vw, -114vh, 0);
  }
}
.circle-container:nth-child(16) .circle {
  animation-delay: 139ms;
}
.circle-container:nth-child(17) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-17;
  animation-duration: 33115ms;
  animation-delay: 29969ms;
}
@keyframes move-frames-17 {
  from {
    transform: translate3d(65vw, 102vh, 0);
  }
  to {
    transform: translate3d(86vw, -115vh, 0);
  }
}
.circle-container:nth-child(17) .circle {
  animation-delay: 591ms;
}
.circle-container:nth-child(18) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-18;
  animation-duration: 32056ms;
  animation-delay: 8301ms;
}
@keyframes move-frames-18 {
  from {
    transform: translate3d(64vw, 107vh, 0);
  }
  to {
    transform: translate3d(59vw, -131vh, 0);
  }
}
.circle-container:nth-child(18) .circle {
  animation-delay: 3819ms;
}
.circle-container:nth-child(19) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-19;
  animation-duration: 30889ms;
  animation-delay: 11126ms;
}
@keyframes move-frames-19 {
  from {
    transform: translate3d(23vw, 101vh, 0);
  }
  to {
    transform: translate3d(82vw, -122vh, 0);
  }
}
.circle-container:nth-child(19) .circle {
  animation-delay: 3588ms;
}
.circle-container:nth-child(20) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-20;
  animation-duration: 36840ms;
  animation-delay: 26786ms;
}
@keyframes move-frames-20 {
  from {
    transform: translate3d(60vw, 105vh, 0);
  }
  to {
    transform: translate3d(57vw, -117vh, 0);
  }
}
.circle-container:nth-child(20) .circle {
  animation-delay: 1548ms;
}
.circle-container:nth-child(21) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-21;
  animation-duration: 31026ms;
  animation-delay: 20172ms;
}
@keyframes move-frames-21 {
  from {
    transform: translate3d(39vw, 108vh, 0);
  }
  to {
    transform: translate3d(95vw, -119vh, 0);
  }
}
.circle-container:nth-child(21) .circle {
  animation-delay: 1871ms;
}
.circle-container:nth-child(22) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-22;
  animation-duration: 34245ms;
  animation-delay: 8328ms;
}
@keyframes move-frames-22 {
  from {
    transform: translate3d(91vw, 105vh, 0);
  }
  to {
    transform: translate3d(34vw, -118vh, 0);
  }
}
.circle-container:nth-child(22) .circle {
  animation-delay: 2087ms;
}
.circle-container:nth-child(23) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-23;
  animation-duration: 36396ms;
  animation-delay: 26402ms;
}
@keyframes move-frames-23 {
  from {
    transform: translate3d(62vw, 109vh, 0);
  }
  to {
    transform: translate3d(27vw, -134vh, 0);
  }
}
.circle-container:nth-child(23) .circle {
  animation-delay: 387ms;
}
.circle-container:nth-child(24) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-24;
  animation-duration: 31185ms;
  animation-delay: 33897ms;
}
@keyframes move-frames-24 {
  from {
    transform: translate3d(64vw, 110vh, 0);
  }
  to {
    transform: translate3d(86vw, -124vh, 0);
  }
}
.circle-container:nth-child(24) .circle {
  animation-delay: 2522ms;
}
.circle-container:nth-child(25) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-25;
  animation-duration: 33066ms;
  animation-delay: 2345ms;
}
@keyframes move-frames-25 {
  from {
    transform: translate3d(84vw, 106vh, 0);
  }
  to {
    transform: translate3d(50vw, -120vh, 0);
  }
}
.circle-container:nth-child(25) .circle {
  animation-delay: 3606ms;
}
.circle-container:nth-child(26) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-26;
  animation-duration: 35148ms;
  animation-delay: 16698ms;
}
@keyframes move-frames-26 {
  from {
    transform: translate3d(38vw, 110vh, 0);
  }
  to {
    transform: translate3d(29vw, -136vh, 0);
  }
}
.circle-container:nth-child(26) .circle {
  animation-delay: 3641ms;
}
.circle-container:nth-child(27) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-27;
  animation-duration: 36294ms;
  animation-delay: 24036ms;
}
@keyframes move-frames-27 {
  from {
    transform: translate3d(66vw, 104vh, 0);
  }
  to {
    transform: translate3d(29vw, -108vh, 0);
  }
}
.circle-container:nth-child(27) .circle {
  animation-delay: 1828ms;
}
.circle-container:nth-child(28) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-28;
  animation-duration: 31123ms;
  animation-delay: 18859ms;
}
@keyframes move-frames-28 {
  from {
    transform: translate3d(21vw, 107vh, 0);
  }
  to {
    transform: translate3d(93vw, -109vh, 0);
  }
}
.circle-container:nth-child(28) .circle {
  animation-delay: 3018ms;
}
.circle-container:nth-child(29) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-29;
  animation-duration: 34426ms;
  animation-delay: 34137ms;
}
@keyframes move-frames-29 {
  from {
    transform: translate3d(18vw, 109vh, 0);
  }
  to {
    transform: translate3d(60vw, -133vh, 0);
  }
}
.circle-container:nth-child(29) .circle {
  animation-delay: 607ms;
}
.circle-container:nth-child(30) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-30;
  animation-duration: 34298ms;
  animation-delay: 6670ms;
}
@keyframes move-frames-30 {
  from {
    transform: translate3d(41vw, 107vh, 0);
  }
  to {
    transform: translate3d(23vw, -123vh, 0);
  }
}
.circle-container:nth-child(30) .circle {
  animation-delay: 1403ms;
}
.circle-container:nth-child(31) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-31;
  animation-duration: 29090ms;
  animation-delay: 33257ms;
}
@keyframes move-frames-31 {
  from {
    transform: translate3d(84vw, 103vh, 0);
  }
  to {
    transform: translate3d(48vw, -117vh, 0);
  }
}
.circle-container:nth-child(31) .circle {
  animation-delay: 1569ms;
}
.circle-container:nth-child(32) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-32;
  animation-duration: 31787ms;
  animation-delay: 20461ms;
}
@keyframes move-frames-32 {
  from {
    transform: translate3d(57vw, 103vh, 0);
  }
  to {
    transform: translate3d(9vw, -105vh, 0);
  }
}
.circle-container:nth-child(32) .circle {
  animation-delay: 2075ms;
}
.circle-container:nth-child(33) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-33;
  animation-duration: 34452ms;
  animation-delay: 26322ms;
}
@keyframes move-frames-33 {
  from {
    transform: translate3d(43vw, 104vh, 0);
  }
  to {
    transform: translate3d(63vw, -122vh, 0);
  }
}
.circle-container:nth-child(33) .circle {
  animation-delay: 863ms;
}
.circle-container:nth-child(34) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-34;
  animation-duration: 28387ms;
  animation-delay: 7399ms;
}
@keyframes move-frames-34 {
  from {
    transform: translate3d(47vw, 109vh, 0);
  }
  to {
    transform: translate3d(57vw, -132vh, 0);
  }
}
.circle-container:nth-child(34) .circle {
  animation-delay: 2522ms;
}
.circle-container:nth-child(35) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-35;
  animation-duration: 29543ms;
  animation-delay: 14403ms;
}
@keyframes move-frames-35 {
  from {
    transform: translate3d(40vw, 109vh, 0);
  }
  to {
    transform: translate3d(94vw, -126vh, 0);
  }
}
.circle-container:nth-child(35) .circle {
  animation-delay: 3896ms;
}
.circle-container:nth-child(36) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-36;
  animation-duration: 30742ms;
  animation-delay: 9923ms;
}
@keyframes move-frames-36 {
  from {
    transform: translate3d(18vw, 102vh, 0);
  }
  to {
    transform: translate3d(77vw, -118vh, 0);
  }
}
.circle-container:nth-child(36) .circle {
  animation-delay: 2712ms;
}
.circle-container:nth-child(37) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-37;
  animation-duration: 30715ms;
  animation-delay: 11829ms;
}
@keyframes move-frames-37 {
  from {
    transform: translate3d(86vw, 105vh, 0);
  }
  to {
    transform: translate3d(78vw, -112vh, 0);
  }
}
.circle-container:nth-child(37) .circle {
  animation-delay: 736ms;
}
.circle-container:nth-child(38) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-38;
  animation-duration: 36941ms;
  animation-delay: 19711ms;
}
@keyframes move-frames-38 {
  from {
    transform: translate3d(19vw, 107vh, 0);
  }
  to {
    transform: translate3d(95vw, -108vh, 0);
  }
}
.circle-container:nth-child(38) .circle {
  animation-delay: 2458ms;
}
.circle-container:nth-child(39) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-39;
  animation-duration: 33641ms;
  animation-delay: 795ms;
}
@keyframes move-frames-39 {
  from {
    transform: translate3d(49vw, 108vh, 0);
  }
  to {
    transform: translate3d(68vw, -123vh, 0);
  }
}
.circle-container:nth-child(39) .circle {
  animation-delay: 3804ms;
}
.circle-container:nth-child(40) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-40;
  animation-duration: 32065ms;
  animation-delay: 28329ms;
}
@keyframes move-frames-40 {
  from {
    transform: translate3d(18vw, 106vh, 0);
  }
  to {
    transform: translate3d(20vw, -131vh, 0);
  }
}
.circle-container:nth-child(40) .circle {
  animation-delay: 3574ms;
}
.circle-container:nth-child(41) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-41;
  animation-duration: 35195ms;
  animation-delay: 32296ms;
}
@keyframes move-frames-41 {
  from {
    transform: translate3d(94vw, 103vh, 0);
  }
  to {
    transform: translate3d(81vw, -129vh, 0);
  }
}
.circle-container:nth-child(41) .circle {
  animation-delay: 3676ms;
}
.circle-container:nth-child(42) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-42;
  animation-duration: 32597ms;
  animation-delay: 15462ms;
}
@keyframes move-frames-42 {
  from {
    transform: translate3d(72vw, 101vh, 0);
  }
  to {
    transform: translate3d(92vw, -124vh, 0);
  }
}
.circle-container:nth-child(42) .circle {
  animation-delay: 3076ms;
}
.circle-container:nth-child(43) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-43;
  animation-duration: 33182ms;
  animation-delay: 24062ms;
}
@keyframes move-frames-43 {
  from {
    transform: translate3d(92vw, 108vh, 0);
  }
  to {
    transform: translate3d(56vw, -117vh, 0);
  }
}
.circle-container:nth-child(43) .circle {
  animation-delay: 3762ms;
}
.circle-container:nth-child(44) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-44;
  animation-duration: 35685ms;
  animation-delay: 11813ms;
}
@keyframes move-frames-44 {
  from {
    transform: translate3d(42vw, 108vh, 0);
  }
  to {
    transform: translate3d(60vw, -129vh, 0);
  }
}
.circle-container:nth-child(44) .circle {
  animation-delay: 1300ms;
}
.circle-container:nth-child(45) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-45;
  animation-duration: 36385ms;
  animation-delay: 28988ms;
}
@keyframes move-frames-45 {
  from {
    transform: translate3d(69vw, 109vh, 0);
  }
  to {
    transform: translate3d(74vw, -119vh, 0);
  }
}
.circle-container:nth-child(45) .circle {
  animation-delay: 698ms;
}
.circle-container:nth-child(46) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-46;
  animation-duration: 33445ms;
  animation-delay: 9767ms;
}
@keyframes move-frames-46 {
  from {
    transform: translate3d(11vw, 110vh, 0);
  }
  to {
    transform: translate3d(92vw, -119vh, 0);
  }
}
.circle-container:nth-child(46) .circle {
  animation-delay: 3687ms;
}
.circle-container:nth-child(47) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-47;
  animation-duration: 28730ms;
  animation-delay: 33707ms;
}
@keyframes move-frames-47 {
  from {
    transform: translate3d(9vw, 101vh, 0);
  }
  to {
    transform: translate3d(60vw, -106vh, 0);
  }
}
.circle-container:nth-child(47) .circle {
  animation-delay: 2800ms;
}
.circle-container:nth-child(48) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-48;
  animation-duration: 33817ms;
  animation-delay: 3700ms;
}
@keyframes move-frames-48 {
  from {
    transform: translate3d(75vw, 108vh, 0);
  }
  to {
    transform: translate3d(70vw, -115vh, 0);
  }
}
.circle-container:nth-child(48) .circle {
  animation-delay: 3340ms;
}
.circle-container:nth-child(49) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-49;
  animation-duration: 34063ms;
  animation-delay: 17252ms;
}
@keyframes move-frames-49 {
  from {
    transform: translate3d(94vw, 107vh, 0);
  }
  to {
    transform: translate3d(30vw, -135vh, 0);
  }
}
.circle-container:nth-child(49) .circle {
  animation-delay: 2264ms;
}
.circle-container:nth-child(50) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-50;
  animation-duration: 36529ms;
  animation-delay: 24065ms;
}
@keyframes move-frames-50 {
  from {
    transform: translate3d(20vw, 109vh, 0);
  }
  to {
    transform: translate3d(29vw, -121vh, 0);
  }
}
.circle-container:nth-child(50) .circle {
  animation-delay: 804ms;
}
.circle-container:nth-child(51) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-51;
  animation-duration: 30682ms;
  animation-delay: 12516ms;
}
@keyframes move-frames-51 {
  from {
    transform: translate3d(69vw, 104vh, 0);
  }
  to {
    transform: translate3d(89vw, -111vh, 0);
  }
}
.circle-container:nth-child(51) .circle {
  animation-delay: 1691ms;
}
.circle-container:nth-child(52) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-52;
  animation-duration: 35530ms;
  animation-delay: 11406ms;
}
@keyframes move-frames-52 {
  from {
    transform: translate3d(42vw, 101vh, 0);
  }
  to {
    transform: translate3d(10vw, -125vh, 0);
  }
}
.circle-container:nth-child(52) .circle {
  animation-delay: 2988ms;
}
.circle-container:nth-child(53) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-53;
  animation-duration: 33222ms;
  animation-delay: 26474ms;
}
@keyframes move-frames-53 {
  from {
    transform: translate3d(60vw, 101vh, 0);
  }
  to {
    transform: translate3d(68vw, -122vh, 0);
  }
}
.circle-container:nth-child(53) .circle {
  animation-delay: 2012ms;
}
.circle-container:nth-child(54) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-54;
  animation-duration: 28640ms;
  animation-delay: 11110ms;
}
@keyframes move-frames-54 {
  from {
    transform: translate3d(55vw, 105vh, 0);
  }
  to {
    transform: translate3d(36vw, -130vh, 0);
  }
}
.circle-container:nth-child(54) .circle {
  animation-delay: 1228ms;
}
.circle-container:nth-child(55) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-55;
  animation-duration: 29492ms;
  animation-delay: 11164ms;
}
@keyframes move-frames-55 {
  from {
    transform: translate3d(54vw, 110vh, 0);
  }
  to {
    transform: translate3d(75vw, -115vh, 0);
  }
}
.circle-container:nth-child(55) .circle {
  animation-delay: 2526ms;
}
.circle-container:nth-child(56) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-56;
  animation-duration: 31115ms;
  animation-delay: 1234ms;
}
@keyframes move-frames-56 {
  from {
    transform: translate3d(19vw, 106vh, 0);
  }
  to {
    transform: translate3d(88vw, -112vh, 0);
  }
}
.circle-container:nth-child(56) .circle {
  animation-delay: 1331ms;
}
.circle-container:nth-child(57) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-57;
  animation-duration: 34366ms;
  animation-delay: 23792ms;
}
@keyframes move-frames-57 {
  from {
    transform: translate3d(36vw, 108vh, 0);
  }
  to {
    transform: translate3d(31vw, -137vh, 0);
  }
}
.circle-container:nth-child(57) .circle {
  animation-delay: 3970ms;
}
.circle-container:nth-child(58) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-58;
  animation-duration: 32673ms;
  animation-delay: 24084ms;
}
@keyframes move-frames-58 {
  from {
    transform: translate3d(74vw, 106vh, 0);
  }
  to {
    transform: translate3d(78vw, -130vh, 0);
  }
}
.circle-container:nth-child(58) .circle {
  animation-delay: 1685ms;
}
.circle-container:nth-child(59) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-59;
  animation-duration: 32640ms;
  animation-delay: 1939ms;
}
@keyframes move-frames-59 {
  from {
    transform: translate3d(50vw, 104vh, 0);
  }
  to {
    transform: translate3d(83vw, -107vh, 0);
  }
}
.circle-container:nth-child(59) .circle {
  animation-delay: 1137ms;
}
.circle-container:nth-child(60) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-60;
  animation-duration: 28265ms;
  animation-delay: 18152ms;
}
@keyframes move-frames-60 {
  from {
    transform: translate3d(83vw, 102vh, 0);
  }
  to {
    transform: translate3d(74vw, -111vh, 0);
  }
}
.circle-container:nth-child(60) .circle {
  animation-delay: 2526ms;
}
.circle-container:nth-child(61) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-61;
  animation-duration: 34828ms;
  animation-delay: 13381ms;
}
@keyframes move-frames-61 {
  from {
    transform: translate3d(74vw, 104vh, 0);
  }
  to {
    transform: translate3d(72vw, -119vh, 0);
  }
}
.circle-container:nth-child(61) .circle {
  animation-delay: 561ms;
}
.circle-container:nth-child(62) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-62;
  animation-duration: 34248ms;
  animation-delay: 2167ms;
}
@keyframes move-frames-62 {
  from {
    transform: translate3d(8vw, 109vh, 0);
  }
  to {
    transform: translate3d(34vw, -118vh, 0);
  }
}
.circle-container:nth-child(62) .circle {
  animation-delay: 3754ms;
}
.circle-container:nth-child(63) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-63;
  animation-duration: 35165ms;
  animation-delay: 5202ms;
}
@keyframes move-frames-63 {
  from {
    transform: translate3d(55vw, 105vh, 0);
  }
  to {
    transform: translate3d(59vw, -120vh, 0);
  }
}
.circle-container:nth-child(63) .circle {
  animation-delay: 3810ms;
}
.circle-container:nth-child(64) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-64;
  animation-duration: 29397ms;
  animation-delay: 6159ms;
}
@keyframes move-frames-64 {
  from {
    transform: translate3d(5vw, 109vh, 0);
  }
  to {
    transform: translate3d(46vw, -130vh, 0);
  }
}
.circle-container:nth-child(64) .circle {
  animation-delay: 2174ms;
}
.circle-container:nth-child(65) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-65;
  animation-duration: 35139ms;
  animation-delay: 17373ms;
}
@keyframes move-frames-65 {
  from {
    transform: translate3d(70vw, 108vh, 0);
  }
  to {
    transform: translate3d(16vw, -117vh, 0);
  }
}
.circle-container:nth-child(65) .circle {
  animation-delay: 314ms;
}
.circle-container:nth-child(66) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-66;
  animation-duration: 33906ms;
  animation-delay: 13527ms;
}
@keyframes move-frames-66 {
  from {
    transform: translate3d(28vw, 102vh, 0);
  }
  to {
    transform: translate3d(54vw, -111vh, 0);
  }
}
.circle-container:nth-child(66) .circle {
  animation-delay: 3877ms;
}
.circle-container:nth-child(67) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-67;
  animation-duration: 34247ms;
  animation-delay: 1238ms;
}
@keyframes move-frames-67 {
  from {
    transform: translate3d(16vw, 104vh, 0);
  }
  to {
    transform: translate3d(29vw, -134vh, 0);
  }
}
.circle-container:nth-child(67) .circle {
  animation-delay: 369ms;
}
.circle-container:nth-child(68) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-68;
  animation-duration: 33174ms;
  animation-delay: 26943ms;
}
@keyframes move-frames-68 {
  from {
    transform: translate3d(37vw, 107vh, 0);
  }
  to {
    transform: translate3d(5vw, -119vh, 0);
  }
}
.circle-container:nth-child(68) .circle {
  animation-delay: 124ms;
}
.circle-container:nth-child(69) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-69;
  animation-duration: 29515ms;
  animation-delay: 35919ms;
}
@keyframes move-frames-69 {
  from {
    transform: translate3d(22vw, 109vh, 0);
  }
  to {
    transform: translate3d(40vw, -132vh, 0);
  }
}
.circle-container:nth-child(69) .circle {
  animation-delay: 732ms;
}
.circle-container:nth-child(70) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-70;
  animation-duration: 30528ms;
  animation-delay: 28211ms;
}
@keyframes move-frames-70 {
  from {
    transform: translate3d(63vw, 101vh, 0);
  }
  to {
    transform: translate3d(83vw, -120vh, 0);
  }
}
.circle-container:nth-child(70) .circle {
  animation-delay: 97ms;
}
.circle-container:nth-child(71) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-71;
  animation-duration: 28838ms;
  animation-delay: 28030ms;
}
@keyframes move-frames-71 {
  from {
    transform: translate3d(12vw, 106vh, 0);
  }
  to {
    transform: translate3d(45vw, -125vh, 0);
  }
}
.circle-container:nth-child(71) .circle {
  animation-delay: 1011ms;
}
.circle-container:nth-child(72) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-72;
  animation-duration: 34920ms;
  animation-delay: 549ms;
}
@keyframes move-frames-72 {
  from {
    transform: translate3d(70vw, 102vh, 0);
  }
  to {
    transform: translate3d(10vw, -127vh, 0);
  }
}
.circle-container:nth-child(72) .circle {
  animation-delay: 2873ms;
}
.circle-container:nth-child(73) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-73;
  animation-duration: 35944ms;
  animation-delay: 35582ms;
}
@keyframes move-frames-73 {
  from {
    transform: translate3d(96vw, 110vh, 0);
  }
  to {
    transform: translate3d(51vw, -116vh, 0);
  }
}
.circle-container:nth-child(73) .circle {
  animation-delay: 1994ms;
}
.circle-container:nth-child(74) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-74;
  animation-duration: 28540ms;
  animation-delay: 20253ms;
}
@keyframes move-frames-74 {
  from {
    transform: translate3d(7vw, 101vh, 0);
  }
  to {
    transform: translate3d(100vw, -117vh, 0);
  }
}
.circle-container:nth-child(74) .circle {
  animation-delay: 160ms;
}
.circle-container:nth-child(75) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-75;
  animation-duration: 31453ms;
  animation-delay: 19034ms;
}
@keyframes move-frames-75 {
  from {
    transform: translate3d(84vw, 105vh, 0);
  }
  to {
    transform: translate3d(24vw, -108vh, 0);
  }
}
.circle-container:nth-child(75) .circle {
  animation-delay: 2115ms;
}
.circle-container:nth-child(76) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-76;
  animation-duration: 28001ms;
  animation-delay: 35596ms;
}
@keyframes move-frames-76 {
  from {
    transform: translate3d(75vw, 109vh, 0);
  }
  to {
    transform: translate3d(78vw, -125vh, 0);
  }
}
.circle-container:nth-child(76) .circle {
  animation-delay: 3460ms;
}
.circle-container:nth-child(77) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-77;
  animation-duration: 32385ms;
  animation-delay: 9243ms;
}
@keyframes move-frames-77 {
  from {
    transform: translate3d(36vw, 109vh, 0);
  }
  to {
    transform: translate3d(34vw, -128vh, 0);
  }
}
.circle-container:nth-child(77) .circle {
  animation-delay: 1630ms;
}
.circle-container:nth-child(78) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-78;
  animation-duration: 36102ms;
  animation-delay: 27513ms;
}
@keyframes move-frames-78 {
  from {
    transform: translate3d(10vw, 110vh, 0);
  }
  to {
    transform: translate3d(84vw, -129vh, 0);
  }
}
.circle-container:nth-child(78) .circle {
  animation-delay: 3504ms;
}
.circle-container:nth-child(79) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-79;
  animation-duration: 28007ms;
  animation-delay: 9944ms;
}
@keyframes move-frames-79 {
  from {
    transform: translate3d(72vw, 105vh, 0);
  }
  to {
    transform: translate3d(31vw, -127vh, 0);
  }
}
.circle-container:nth-child(79) .circle {
  animation-delay: 75ms;
}
.circle-container:nth-child(80) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-80;
  animation-duration: 31041ms;
  animation-delay: 23658ms;
}
@keyframes move-frames-80 {
  from {
    transform: translate3d(86vw, 105vh, 0);
  }
  to {
    transform: translate3d(89vw, -111vh, 0);
  }
}
.circle-container:nth-child(80) .circle {
  animation-delay: 315ms;
}
.circle-container:nth-child(81) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-81;
  animation-duration: 34689ms;
  animation-delay: 22983ms;
}
@keyframes move-frames-81 {
  from {
    transform: translate3d(76vw, 102vh, 0);
  }
  to {
    transform: translate3d(99vw, -105vh, 0);
  }
}
.circle-container:nth-child(81) .circle {
  animation-delay: 3157ms;
}
.circle-container:nth-child(82) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-82;
  animation-duration: 31392ms;
  animation-delay: 2983ms;
}
@keyframes move-frames-82 {
  from {
    transform: translate3d(99vw, 103vh, 0);
  }
  to {
    transform: translate3d(1vw, -109vh, 0);
  }
}
.circle-container:nth-child(82) .circle {
  animation-delay: 2380ms;
}
.circle-container:nth-child(83) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-83;
  animation-duration: 30806ms;
  animation-delay: 25602ms;
}
@keyframes move-frames-83 {
  from {
    transform: translate3d(98vw, 104vh, 0);
  }
  to {
    transform: translate3d(54vw, -128vh, 0);
  }
}
.circle-container:nth-child(83) .circle {
  animation-delay: 229ms;
}
.circle-container:nth-child(84) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-84;
  animation-duration: 33701ms;
  animation-delay: 28007ms;
}
@keyframes move-frames-84 {
  from {
    transform: translate3d(10vw, 106vh, 0);
  }
  to {
    transform: translate3d(52vw, -129vh, 0);
  }
}
.circle-container:nth-child(84) .circle {
  animation-delay: 30ms;
}
.circle-container:nth-child(85) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-85;
  animation-duration: 29045ms;
  animation-delay: 23387ms;
}
@keyframes move-frames-85 {
  from {
    transform: translate3d(7vw, 109vh, 0);
  }
  to {
    transform: translate3d(69vw, -118vh, 0);
  }
}
.circle-container:nth-child(85) .circle {
  animation-delay: 1097ms;
}
.circle-container:nth-child(86) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-86;
  animation-duration: 35764ms;
  animation-delay: 25203ms;
}
@keyframes move-frames-86 {
  from {
    transform: translate3d(45vw, 101vh, 0);
  }
  to {
    transform: translate3d(68vw, -109vh, 0);
  }
}
.circle-container:nth-child(86) .circle {
  animation-delay: 1866ms;
}
.circle-container:nth-child(87) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-87;
  animation-duration: 32721ms;
  animation-delay: 24798ms;
}
@keyframes move-frames-87 {
  from {
    transform: translate3d(94vw, 110vh, 0);
  }
  to {
    transform: translate3d(31vw, -130vh, 0);
  }
}
.circle-container:nth-child(87) .circle {
  animation-delay: 941ms;
}
.circle-container:nth-child(88) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-88;
  animation-duration: 30272ms;
  animation-delay: 9543ms;
}
@keyframes move-frames-88 {
  from {
    transform: translate3d(78vw, 105vh, 0);
  }
  to {
    transform: translate3d(4vw, -130vh, 0);
  }
}
.circle-container:nth-child(88) .circle {
  animation-delay: 466ms;
}
.circle-container:nth-child(89) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-89;
  animation-duration: 32299ms;
  animation-delay: 3988ms;
}
@keyframes move-frames-89 {
  from {
    transform: translate3d(5vw, 104vh, 0);
  }
  to {
    transform: translate3d(8vw, -115vh, 0);
  }
}
.circle-container:nth-child(89) .circle {
  animation-delay: 837ms;
}
.circle-container:nth-child(90) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-90;
  animation-duration: 29425ms;
  animation-delay: 35146ms;
}
@keyframes move-frames-90 {
  from {
    transform: translate3d(23vw, 102vh, 0);
  }
  to {
    transform: translate3d(93vw, -127vh, 0);
  }
}
.circle-container:nth-child(90) .circle {
  animation-delay: 682ms;
}
.circle-container:nth-child(91) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-91;
  animation-duration: 33438ms;
  animation-delay: 27461ms;
}
@keyframes move-frames-91 {
  from {
    transform: translate3d(24vw, 108vh, 0);
  }
  to {
    transform: translate3d(28vw, -121vh, 0);
  }
}
.circle-container:nth-child(91) .circle {
  animation-delay: 708ms;
}
.circle-container:nth-child(92) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-92;
  animation-duration: 35813ms;
  animation-delay: 11956ms;
}
@keyframes move-frames-92 {
  from {
    transform: translate3d(88vw, 110vh, 0);
  }
  to {
    transform: translate3d(82vw, -127vh, 0);
  }
}
.circle-container:nth-child(92) .circle {
  animation-delay: 3479ms;
}
.circle-container:nth-child(93) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-93;
  animation-duration: 31496ms;
  animation-delay: 28251ms;
}
@keyframes move-frames-93 {
  from {
    transform: translate3d(91vw, 101vh, 0);
  }
  to {
    transform: translate3d(5vw, -109vh, 0);
  }
}
.circle-container:nth-child(93) .circle {
  animation-delay: 1778ms;
}
.circle-container:nth-child(94) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-94;
  animation-duration: 32819ms;
  animation-delay: 8412ms;
}
@keyframes move-frames-94 {
  from {
    transform: translate3d(86vw, 107vh, 0);
  }
  to {
    transform: translate3d(59vw, -129vh, 0);
  }
}
.circle-container:nth-child(94) .circle {
  animation-delay: 890ms;
}
.circle-container:nth-child(95) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-95;
  animation-duration: 33023ms;
  animation-delay: 32712ms;
}
@keyframes move-frames-95 {
  from {
    transform: translate3d(81vw, 107vh, 0);
  }
  to {
    transform: translate3d(42vw, -114vh, 0);
  }
}
.circle-container:nth-child(95) .circle {
  animation-delay: 2761ms;
}
.circle-container:nth-child(96) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-96;
  animation-duration: 28857ms;
  animation-delay: 31337ms;
}
@keyframes move-frames-96 {
  from {
    transform: translate3d(48vw, 104vh, 0);
  }
  to {
    transform: translate3d(28vw, -129vh, 0);
  }
}
.circle-container:nth-child(96) .circle {
  animation-delay: 1183ms;
}
.circle-container:nth-child(97) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-97;
  animation-duration: 31051ms;
  animation-delay: 23080ms;
}
@keyframes move-frames-97 {
  from {
    transform: translate3d(50vw, 110vh, 0);
  }
  to {
    transform: translate3d(90vw, -127vh, 0);
  }
}
.circle-container:nth-child(97) .circle {
  animation-delay: 1762ms;
}
.circle-container:nth-child(98) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-98;
  animation-duration: 29529ms;
  animation-delay: 7329ms;
}
@keyframes move-frames-98 {
  from {
    transform: translate3d(19vw, 102vh, 0);
  }
  to {
    transform: translate3d(93vw, -132vh, 0);
  }
}
.circle-container:nth-child(98) .circle {
  animation-delay: 2469ms;
}
.circle-container:nth-child(99) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-99;
  animation-duration: 29589ms;
  animation-delay: 7570ms;
}
@keyframes move-frames-99 {
  from {
    transform: translate3d(40vw, 104vh, 0);
  }
  to {
    transform: translate3d(64vw, -114vh, 0);
  }
}
.circle-container:nth-child(99) .circle {
  animation-delay: 3909ms;
}
.circle-container:nth-child(100) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-100;
  animation-duration: 32790ms;
  animation-delay: 23119ms;
}
@keyframes move-frames-100 {
  from {
    transform: translate3d(37vw, 104vh, 0);
  }
  to {
    transform: translate3d(87vw, -110vh, 0);
  }
}
.circle-container:nth-child(100) .circle {
  animation-delay: 2641ms;
}
.circle-container:nth-child(101) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-101;
  animation-duration: 28472ms;
  animation-delay: 8014ms;
}
@keyframes move-frames-101 {
  from {
    transform: translate3d(13vw, 105vh, 0);
  }
  to {
    transform: translate3d(81vw, -108vh, 0);
  }
}
.circle-container:nth-child(101) .circle {
  animation-delay: 1500ms;
}
.circle-container:nth-child(102) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-102;
  animation-duration: 30449ms;
  animation-delay: 25110ms;
}
@keyframes move-frames-102 {
  from {
    transform: translate3d(29vw, 107vh, 0);
  }
  to {
    transform: translate3d(80vw, -133vh, 0);
  }
}
.circle-container:nth-child(102) .circle {
  animation-delay: 3079ms;
}
.circle-container:nth-child(103) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-103;
  animation-duration: 30348ms;
  animation-delay: 6203ms;
}
@keyframes move-frames-103 {
  from {
    transform: translate3d(93vw, 102vh, 0);
  }
  to {
    transform: translate3d(71vw, -117vh, 0);
  }
}
.circle-container:nth-child(103) .circle {
  animation-delay: 3852ms;
}
.circle-container:nth-child(104) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-104;
  animation-duration: 31263ms;
  animation-delay: 4290ms;
}
@keyframes move-frames-104 {
  from {
    transform: translate3d(32vw, 108vh, 0);
  }
  to {
    transform: translate3d(24vw, -124vh, 0);
  }
}
.circle-container:nth-child(104) .circle {
  animation-delay: 582ms;
}
.circle-container:nth-child(105) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-105;
  animation-duration: 30290ms;
  animation-delay: 19791ms;
}
@keyframes move-frames-105 {
  from {
    transform: translate3d(7vw, 107vh, 0);
  }
  to {
    transform: translate3d(46vw, -121vh, 0);
  }
}
.circle-container:nth-child(105) .circle {
  animation-delay: 1531ms;
}
.circle-container:nth-child(106) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-106;
  animation-duration: 35093ms;
  animation-delay: 28652ms;
}
@keyframes move-frames-106 {
  from {
    transform: translate3d(69vw, 110vh, 0);
  }
  to {
    transform: translate3d(69vw, -136vh, 0);
  }
}
.circle-container:nth-child(106) .circle {
  animation-delay: 3605ms;
}
.circle-container:nth-child(107) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-107;
  animation-duration: 36882ms;
  animation-delay: 21121ms;
}
@keyframes move-frames-107 {
  from {
    transform: translate3d(24vw, 105vh, 0);
  }
  to {
    transform: translate3d(75vw, -110vh, 0);
  }
}
.circle-container:nth-child(107) .circle {
  animation-delay: 589ms;
}
.circle-container:nth-child(108) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-108;
  animation-duration: 31079ms;
  animation-delay: 7694ms;
}
@keyframes move-frames-108 {
  from {
    transform: translate3d(45vw, 105vh, 0);
  }
  to {
    transform: translate3d(64vw, -106vh, 0);
  }
}
.circle-container:nth-child(108) .circle {
  animation-delay: 1572ms;
}
.circle-container:nth-child(109) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-109;
  animation-duration: 29448ms;
  animation-delay: 546ms;
}
@keyframes move-frames-109 {
  from {
    transform: translate3d(79vw, 109vh, 0);
  }
  to {
    transform: translate3d(73vw, -119vh, 0);
  }
}
.circle-container:nth-child(109) .circle {
  animation-delay: 290ms;
}
.circle-container:nth-child(110) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-110;
  animation-duration: 31390ms;
  animation-delay: 18382ms;
}
@keyframes move-frames-110 {
  from {
    transform: translate3d(41vw, 108vh, 0);
  }
  to {
    transform: translate3d(27vw, -133vh, 0);
  }
}
.circle-container:nth-child(110) .circle {
  animation-delay: 3763ms;
}
.circle-container:nth-child(111) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-111;
  animation-duration: 35669ms;
  animation-delay: 16449ms;
}
@keyframes move-frames-111 {
  from {
    transform: translate3d(100vw, 102vh, 0);
  }
  to {
    transform: translate3d(50vw, -109vh, 0);
  }
}
.circle-container:nth-child(111) .circle {
  animation-delay: 3998ms;
}
.circle-container:nth-child(112) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-112;
  animation-duration: 28867ms;
  animation-delay: 36316ms;
}
@keyframes move-frames-112 {
  from {
    transform: translate3d(3vw, 107vh, 0);
  }
  to {
    transform: translate3d(49vw, -115vh, 0);
  }
}
.circle-container:nth-child(112) .circle {
  animation-delay: 3886ms;
}
.circle-container:nth-child(113) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-113;
  animation-duration: 33503ms;
  animation-delay: 19533ms;
}
@keyframes move-frames-113 {
  from {
    transform: translate3d(85vw, 104vh, 0);
  }
  to {
    transform: translate3d(56vw, -120vh, 0);
  }
}
.circle-container:nth-child(113) .circle {
  animation-delay: 1279ms;
}
.circle-container:nth-child(114) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-114;
  animation-duration: 33518ms;
  animation-delay: 29505ms;
}
@keyframes move-frames-114 {
  from {
    transform: translate3d(45vw, 101vh, 0);
  }
  to {
    transform: translate3d(59vw, -107vh, 0);
  }
}
.circle-container:nth-child(114) .circle {
  animation-delay: 3700ms;
}
.circle-container:nth-child(115) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-115;
  animation-duration: 33017ms;
  animation-delay: 21124ms;
}
@keyframes move-frames-115 {
  from {
    transform: translate3d(5vw, 102vh, 0);
  }
  to {
    transform: translate3d(16vw, -107vh, 0);
  }
}
.circle-container:nth-child(115) .circle {
  animation-delay: 2127ms;
}
.circle-container:nth-child(116) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-116;
  animation-duration: 35036ms;
  animation-delay: 16622ms;
}
@keyframes move-frames-116 {
  from {
    transform: translate3d(99vw, 101vh, 0);
  }
  to {
    transform: translate3d(24vw, -113vh, 0);
  }
}
.circle-container:nth-child(116) .circle {
  animation-delay: 2916ms;
}
.circle-container:nth-child(117) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-117;
  animation-duration: 35078ms;
  animation-delay: 15018ms;
}
@keyframes move-frames-117 {
  from {
    transform: translate3d(30vw, 102vh, 0);
  }
  to {
    transform: translate3d(9vw, -115vh, 0);
  }
}
.circle-container:nth-child(117) .circle {
  animation-delay: 3978ms;
}
.circle-container:nth-child(118) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-118;
  animation-duration: 35640ms;
  animation-delay: 7263ms;
}
@keyframes move-frames-118 {
  from {
    transform: translate3d(46vw, 107vh, 0);
  }
  to {
    transform: translate3d(52vw, -126vh, 0);
  }
}
.circle-container:nth-child(118) .circle {
  animation-delay: 1693ms;
}
.circle-container:nth-child(119) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-119;
  animation-duration: 29543ms;
  animation-delay: 27796ms;
}
@keyframes move-frames-119 {
  from {
    transform: translate3d(97vw, 105vh, 0);
  }
  to {
    transform: translate3d(66vw, -118vh, 0);
  }
}
.circle-container:nth-child(119) .circle {
  animation-delay: 1133ms;
}
.circle-container:nth-child(120) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-120;
  animation-duration: 33731ms;
  animation-delay: 9073ms;
}
@keyframes move-frames-120 {
  from {
    transform: translate3d(78vw, 103vh, 0);
  }
  to {
    transform: translate3d(22vw, -123vh, 0);
  }
}
.circle-container:nth-child(120) .circle {
  animation-delay: 3655ms;
}
.circle-container:nth-child(121) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-121;
  animation-duration: 35484ms;
  animation-delay: 15079ms;
}
@keyframes move-frames-121 {
  from {
    transform: translate3d(66vw, 108vh, 0);
  }
  to {
    transform: translate3d(27vw, -134vh, 0);
  }
}
.circle-container:nth-child(121) .circle {
  animation-delay: 2780ms;
}
.circle-container:nth-child(122) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-122;
  animation-duration: 34906ms;
  animation-delay: 28263ms;
}
@keyframes move-frames-122 {
  from {
    transform: translate3d(58vw, 102vh, 0);
  }
  to {
    transform: translate3d(15vw, -127vh, 0);
  }
}
.circle-container:nth-child(122) .circle {
  animation-delay: 3758ms;
}
.circle-container:nth-child(123) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-123;
  animation-duration: 36073ms;
  animation-delay: 28266ms;
}
@keyframes move-frames-123 {
  from {
    transform: translate3d(5vw, 110vh, 0);
  }
  to {
    transform: translate3d(33vw, -112vh, 0);
  }
}
.circle-container:nth-child(123) .circle {
  animation-delay: 3086ms;
}
.circle-container:nth-child(124) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-124;
  animation-duration: 34807ms;
  animation-delay: 22069ms;
}
@keyframes move-frames-124 {
  from {
    transform: translate3d(25vw, 109vh, 0);
  }
  to {
    transform: translate3d(64vw, -117vh, 0);
  }
}
.circle-container:nth-child(124) .circle {
  animation-delay: 2815ms;
}
.circle-container:nth-child(125) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-125;
  animation-duration: 30200ms;
  animation-delay: 29875ms;
}
@keyframes move-frames-125 {
  from {
    transform: translate3d(61vw, 108vh, 0);
  }
  to {
    transform: translate3d(88vw, -134vh, 0);
  }
}
.circle-container:nth-child(125) .circle {
  animation-delay: 2610ms;
}
.circle-container:nth-child(126) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-126;
  animation-duration: 34803ms;
  animation-delay: 3632ms;
}
@keyframes move-frames-126 {
  from {
    transform: translate3d(25vw, 108vh, 0);
  }
  to {
    transform: translate3d(77vw, -127vh, 0);
  }
}
.circle-container:nth-child(126) .circle {
  animation-delay: 1763ms;
}
.circle-container:nth-child(127) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-127;
  animation-duration: 35429ms;
  animation-delay: 30892ms;
}
@keyframes move-frames-127 {
  from {
    transform: translate3d(33vw, 110vh, 0);
  }
  to {
    transform: translate3d(70vw, -134vh, 0);
  }
}
.circle-container:nth-child(127) .circle {
  animation-delay: 2596ms;
}
.circle-container:nth-child(128) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-128;
  animation-duration: 32595ms;
  animation-delay: 13593ms;
}
@keyframes move-frames-128 {
  from {
    transform: translate3d(48vw, 105vh, 0);
  }
  to {
    transform: translate3d(97vw, -114vh, 0);
  }
}
.circle-container:nth-child(128) .circle {
  animation-delay: 693ms;
}
.circle-container:nth-child(129) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-129;
  animation-duration: 28151ms;
  animation-delay: 13987ms;
}
@keyframes move-frames-129 {
  from {
    transform: translate3d(66vw, 104vh, 0);
  }
  to {
    transform: translate3d(59vw, -124vh, 0);
  }
}
.circle-container:nth-child(129) .circle {
  animation-delay: 2232ms;
}
.circle-container:nth-child(130) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-130;
  animation-duration: 30196ms;
  animation-delay: 25662ms;
}
@keyframes move-frames-130 {
  from {
    transform: translate3d(56vw, 106vh, 0);
  }
  to {
    transform: translate3d(70vw, -127vh, 0);
  }
}
.circle-container:nth-child(130) .circle {
  animation-delay: 2214ms;
}
.circle-container:nth-child(131) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-131;
  animation-duration: 35704ms;
  animation-delay: 14600ms;
}
@keyframes move-frames-131 {
  from {
    transform: translate3d(95vw, 101vh, 0);
  }
  to {
    transform: translate3d(57vw, -104vh, 0);
  }
}
.circle-container:nth-child(131) .circle {
  animation-delay: 3698ms;
}
.circle-container:nth-child(132) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-132;
  animation-duration: 36413ms;
  animation-delay: 17301ms;
}
@keyframes move-frames-132 {
  from {
    transform: translate3d(4vw, 103vh, 0);
  }
  to {
    transform: translate3d(91vw, -122vh, 0);
  }
}
.circle-container:nth-child(132) .circle {
  animation-delay: 130ms;
}
.circle-container:nth-child(133) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-133;
  animation-duration: 31822ms;
  animation-delay: 12131ms;
}
@keyframes move-frames-133 {
  from {
    transform: translate3d(11vw, 106vh, 0);
  }
  to {
    transform: translate3d(74vw, -118vh, 0);
  }
}
.circle-container:nth-child(133) .circle {
  animation-delay: 2001ms;
}
.circle-container:nth-child(134) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-134;
  animation-duration: 30234ms;
  animation-delay: 25837ms;
}
@keyframes move-frames-134 {
  from {
    transform: translate3d(58vw, 105vh, 0);
  }
  to {
    transform: translate3d(88vw, -130vh, 0);
  }
}
.circle-container:nth-child(134) .circle {
  animation-delay: 3013ms;
}
.circle-container:nth-child(135) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-135;
  animation-duration: 36472ms;
  animation-delay: 6905ms;
}
@keyframes move-frames-135 {
  from {
    transform: translate3d(8vw, 108vh, 0);
  }
  to {
    transform: translate3d(58vw, -123vh, 0);
  }
}
.circle-container:nth-child(135) .circle {
  animation-delay: 3529ms;
}
.circle-container:nth-child(136) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-136;
  animation-duration: 36946ms;
  animation-delay: 1848ms;
}
@keyframes move-frames-136 {
  from {
    transform: translate3d(3vw, 106vh, 0);
  }
  to {
    transform: translate3d(40vw, -121vh, 0);
  }
}
.circle-container:nth-child(136) .circle {
  animation-delay: 2800ms;
}
.circle-container:nth-child(137) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-137;
  animation-duration: 30745ms;
  animation-delay: 19735ms;
}
@keyframes move-frames-137 {
  from {
    transform: translate3d(40vw, 110vh, 0);
  }
  to {
    transform: translate3d(32vw, -121vh, 0);
  }
}
.circle-container:nth-child(137) .circle {
  animation-delay: 3381ms;
}
.circle-container:nth-child(138) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-138;
  animation-duration: 32989ms;
  animation-delay: 6270ms;
}
@keyframes move-frames-138 {
  from {
    transform: translate3d(70vw, 108vh, 0);
  }
  to {
    transform: translate3d(48vw, -111vh, 0);
  }
}
.circle-container:nth-child(138) .circle {
  animation-delay: 3802ms;
}
.circle-container:nth-child(139) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-139;
  animation-duration: 28978ms;
  animation-delay: 6199ms;
}
@keyframes move-frames-139 {
  from {
    transform: translate3d(44vw, 108vh, 0);
  }
  to {
    transform: translate3d(86vw, -125vh, 0);
  }
}
.circle-container:nth-child(139) .circle {
  animation-delay: 261ms;
}
.circle-container:nth-child(140) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-140;
  animation-duration: 28857ms;
  animation-delay: 13899ms;
}
@keyframes move-frames-140 {
  from {
    transform: translate3d(76vw, 101vh, 0);
  }
  to {
    transform: translate3d(41vw, -119vh, 0);
  }
}
.circle-container:nth-child(140) .circle {
  animation-delay: 2123ms;
}
.circle-container:nth-child(141) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-141;
  animation-duration: 36010ms;
  animation-delay: 3206ms;
}
@keyframes move-frames-141 {
  from {
    transform: translate3d(38vw, 110vh, 0);
  }
  to {
    transform: translate3d(61vw, -115vh, 0);
  }
}
.circle-container:nth-child(141) .circle {
  animation-delay: 3945ms;
}
.circle-container:nth-child(142) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-142;
  animation-duration: 30395ms;
  animation-delay: 27554ms;
}
@keyframes move-frames-142 {
  from {
    transform: translate3d(53vw, 108vh, 0);
  }
  to {
    transform: translate3d(38vw, -131vh, 0);
  }
}
.circle-container:nth-child(142) .circle {
  animation-delay: 965ms;
}
.circle-container:nth-child(143) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-143;
  animation-duration: 34738ms;
  animation-delay: 7150ms;
}
@keyframes move-frames-143 {
  from {
    transform: translate3d(70vw, 105vh, 0);
  }
  to {
    transform: translate3d(56vw, -107vh, 0);
  }
}
.circle-container:nth-child(143) .circle {
  animation-delay: 272ms;
}
.circle-container:nth-child(144) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-144;
  animation-duration: 35581ms;
  animation-delay: 14912ms;
}
@keyframes move-frames-144 {
  from {
    transform: translate3d(5vw, 103vh, 0);
  }
  to {
    transform: translate3d(50vw, -114vh, 0);
  }
}
.circle-container:nth-child(144) .circle {
  animation-delay: 685ms;
}
.circle-container:nth-child(145) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-145;
  animation-duration: 31932ms;
  animation-delay: 35831ms;
}
@keyframes move-frames-145 {
  from {
    transform: translate3d(34vw, 110vh, 0);
  }
  to {
    transform: translate3d(54vw, -137vh, 0);
  }
}
.circle-container:nth-child(145) .circle {
  animation-delay: 287ms;
}
.circle-container:nth-child(146) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-146;
  animation-duration: 32935ms;
  animation-delay: 15221ms;
}
@keyframes move-frames-146 {
  from {
    transform: translate3d(96vw, 109vh, 0);
  }
  to {
    transform: translate3d(33vw, -120vh, 0);
  }
}
.circle-container:nth-child(146) .circle {
  animation-delay: 3143ms;
}
.circle-container:nth-child(147) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-147;
  animation-duration: 33580ms;
  animation-delay: 23938ms;
}
@keyframes move-frames-147 {
  from {
    transform: translate3d(93vw, 109vh, 0);
  }
  to {
    transform: translate3d(29vw, -113vh, 0);
  }
}
.circle-container:nth-child(147) .circle {
  animation-delay: 197ms;
}
.circle-container:nth-child(148) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-148;
  animation-duration: 28129ms;
  animation-delay: 5555ms;
}
@keyframes move-frames-148 {
  from {
    transform: translate3d(50vw, 105vh, 0);
  }
  to {
    transform: translate3d(5vw, -120vh, 0);
  }
}
.circle-container:nth-child(148) .circle {
  animation-delay: 3878ms;
}
.circle-container:nth-child(149) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-149;
  animation-duration: 36665ms;
  animation-delay: 32462ms;
}
@keyframes move-frames-149 {
  from {
    transform: translate3d(48vw, 110vh, 0);
  }
  to {
    transform: translate3d(65vw, -123vh, 0);
  }
}
.circle-container:nth-child(149) .circle {
  animation-delay: 3024ms;
}
.circle-container:nth-child(150) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-150;
  animation-duration: 28046ms;
  animation-delay: 33323ms;
}
@keyframes move-frames-150 {
  from {
    transform: translate3d(69vw, 110vh, 0);
  }
  to {
    transform: translate3d(27vw, -135vh, 0);
  }
}
.circle-container:nth-child(150) .circle {
  animation-delay: 2077ms;
}

/* Templates */

/*# sourceMappingURL=frontend-styles.css.map */
