// Companies Grid

.companies-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    gap: 30px;
    text-align: center;


    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        grid-template-columns: repeat(3, 1fr);
    }

    img {
        max-width: 100%;
        height: auto;
    }

    a {
        color: $white;

        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
        }
    }

    .company {
        position: relative;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        min-width: 0;
        word-wrap: break-word;
        padding: 30px;
        border-radius: 35px;
        background-color: rgba($black, 50%);
        box-sizing: border-box;

        .logo,
        .logo-alt {
            display: flex;
            flex: 1 1 90px;
            align-items: center;
        }

        .logo-alt {
            display: none;
        }

        .infos {
            display: flex;
            flex: 1 1 170px;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    .company-link {
        display: flex;

        &:hover,
        &:active,
        &:focus {
            .company {
                color: $black;
                background-color: $yellow-pantone;

                .logo {
                    display: none;
                }

                .logo-alt {
                    display: flex;
                }

                .read-more {
                    text-decoration: underline;
                }
            }
        }
    }
}