// Comentários

.comments {
  .comment-list {
    padding: 0;
  }

  .comment-list,
  .children {
    list-style: none;
  }

  .comment-body {
    padding: 15px;
    margin-bottom: 1rem;
    border-radius: 0.25em;
    background-color: rgba($white, 0.015);
  }

  .comment-form {
    label {
      font-weight: bold;
      margin-bottom: 8px;
    }
  }

  .comment-reply-link {
    display: inline-block;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid $white;
    border-radius: 1rem;
    background-color: $yellow-pantone;
    color: $black;
  }

  .reply {
    height: auto;
  }
}