// Navbar

.navbar {
  transition: 0.3s;
  background: rgba($black, 80%);

  @media (min-width: 992px) {
    background: unset;
  }
}

.navbar-brand {
  img {
    max-width: 60%;

    @media (min-width: 992px) {
      max-width: initial;
    }
  }
}

.navbar-collapse {}

.navbar-nav {
  .dropdown-menu {
    flex-direction: column;
    padding: 0;
    border: none;
    border-radius: 0;
    font-size: 0.8rem;
    font-weight: 500;
    background: rgba($black, 44%);

    @media (min-width: 992px) {
      margin-top: 18px !important;
    }

    .dropdown-item {
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
      color: $white;

      &:hover,
      &:active,
      &:focus {
        background: inherit;
        color: $yellow-pantone;
      }
    }
  }
}

.nav-item {
  .nav-link {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }

  @media (min-width: 992px) {
    padding: 8px;

    .nav-link {
      position: relative;
      padding: 0 0 4px 0;

      &::after {
        content: "";
        width: 0;
        transition: width 0.3s ease;
      }
    }

    &.active,
    &:hover,
    &:active,
    &:focus {
      .nav-link {
        &::after {
          // content: "";
          // position: absolute;
          // bottom: 0;
          // left: 0;
          // width: 100%;
          // height: 1px;
          // background-color: $light-gray;
          // transition: width 0.3s ease;
        }
      }
    }
  }
}

.navbar-light {
  .navbar-nav {
    .nav-link {
      color: $white;

      &:hover,
      &:active,
      &:focus {
        color: $yellow-pantone;
      }
    }

    .active>.nav-link {
      color: $yellow-pantone;
    }
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
}