// Post

.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-thumbnail {
  display: block;
  margin-bottom: 15px;
  overflow: hidden;
  box-shadow: unset;
  transition: all 0.3s ease;

  figure {
    position: relative;
    margin: 0;
    z-index: -1;
  }

  img {
    transform: scale(1);
    transition: all 0.3s ease;
  }

  &:hover,
  &:active,
  &:focus {
    img {
      transform: scale(1.15);
    }
  }
}

.read-more-link {
  font-weight: bold;
  color: $white;
  background: $yellow-pantone;

  &:hover,
  &:active,
  &:focus {
    color: $white;
    background-color: darken($yellow-pantone, 10%);
  }
}