// Search Form

.search-form {
  .search-submit {
    font-weight: bold;
    border: none;
    border-radius: 0 0.25rem 0.25rem 0;
    color: $white;
    background: $yellow-pantone;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:hover,
    &:active,
    &:focus {
      background-color: darken($yellow-pantone, 10%);
    }
  }
}
