// Team Grid

.team-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    gap: 100px;
    text-align: center;

    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    img {
        max-width: 100%;
        height: auto;
    }

    a {
        color: $white;

        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
            color: $yellow-pantone;
        }
    }

    .team-member {
        position: relative;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;


        min-width: 0;
        word-wrap: break-word;

        margin-top: 100px;
        padding: 30px;
        border: 1px solid $white;
        border-radius: 35px;
        background-color: rgba($black, 50%);
        box-sizing: border-box;

        .photo {
            position: absolute;
            top: -85px;
        }

        .infos {
            display: flex;
            flex: 1 1 170px;
            flex-direction: column;
            justify-content: space-between;
            margin-top: 100px;

            @media (min-width: 768px) {
                padding: 0 3rem;
            }

            .title,
            .role {
                margin: 0;
                padding: 0 3rem;
                line-height: 1.4;
            }

            .title {
                color: $yellow-pantone;
                margin-bottom: .5rem;
                font-size: 1.25rem;
                text-transform: uppercase;
            }

            .role {
                font-size: 1rem;
            }

            hr {
                margin-top: 2rem;
                margin-bottom: 2rem;
                border-top: 1px solid white;
                width: 25%;
            }

            .excerpt {
                margin: 0 0 2rem;
            }

            .linkedin {
                margin-bottom: 30px;

                span,
                i {
                    font-size: 1.6rem;
                }
            }

        }
    }


}