form {
  p {
    font-size: 1em;
    margin-bottom: 0.5rem;
  }

  label {
    margin: 0;
    width: 100%;
  }
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="url"],
input[type="file"],
textarea,
select {
  width: 100%;
  min-height: 60px;
  margin-top: 8px;
  padding: 8px;
  border: 2px solid $white;
  border-radius: 1rem;
  background-clip: padding-box;
  box-sizing: border-box;
  color: $white;
  background: $black;
}

input[type="file"] {
  position: relative;
  padding-top: 15px;

  &::-webkit-file-upload-button {
    visibility: hidden;
    display: none;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    right: 15px;
    width: 24px;
    height: 24px;
    background: url(../../svg/upload.svg) center center no-repeat;
    background-size: contain;
    transform: translateY(-50%);
  }
}

input[type="submit"] {
  display: block;
  padding: 7px 25px;
  margin: 60px auto 0;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid $white;
  border-radius: 1rem;
  color: $black;
  background: $yellow-pantone;
  box-sizing: border-box;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:hover,
  &:active,
  &:focus {
    background-color: darken($yellow-pantone, 10%);
  }
}

select {
  width: 100%;
  height: 2.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  background-image: linear-gradient(45deg, transparent 50%, #fff 50%),
    linear-gradient(135deg, #fff 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
  border: 2px solid $white;
  border-radius: 1rem;
  box-shadow: 0 0 0 1000px transparent inset;
  -webkit-text-fill-color: $white;
}

::placeholder {
  color: $white;
  opacity: 1;
}

:-ms-input-placeholder {
  color: $white;
}

::-ms-input-placeholder {
  color: $white;
}