a {
  color: $yellow-pantone;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:hover,
  &:active,
  &:focus {
    color: $yellow-pantone;
  }
}
