// Footer
.footer {
  background-color: $black;

  ul {
    margin: 0;
    list-style: none;
    padding-inline-start: 0 !important;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 1rem;

    li {
      margin-bottom: 0;
    }

    @media (min-width: 768px) {
      flex-direction: row;

      li {
        &:not(:last-child) {
          margin-right: 15px;
        }
      }
    }
  }

  a {
    color: $white;
  }
}

.footer-widgets {
  padding: 30px 0 0;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
      flex-direction: row;
    }
  }

  .widget {
    padding: 0 0 15px;
    color: $white;
    font-size: 0.8rem;
    text-align: center;

    .widget-title {
      margin-bottom: 30px;
      color: $white;
    }
  }

  .widget_nav_menu {
    .menu-item {
      text-transform: uppercase;

      &.current-menu-item,
      &:hover,
      &:active,
      &:focus {
        a {
          color: $yellow-pantone !important;
        }
      }
    }
  }

  // Change Gallery Widget to Display Grid
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;

    .gallery-item {
      width: auto !important;
      margin: 0 !important;
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;

      .gallery-item {
        width: auto !important;
        margin: 15px !important;
      }
    }
  }
}

.footer-menus {
  .menu-item {
    font-size: 0.8em;
  }

  .footer-menu,
  .footer-secondary-menus {
    margin: 15px 0;

    @media (min-width: 768px) {
      li {
        &:not(:last-child) {
          position: relative;

          &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 1px;
            height: 50%;
            background-color: $yellow-pantone;
            transform: translateY(50%) translateX(0.5rem);
          }
        }
      }
    }
  }

  .footer-menu {
    li {
      &:not(:last-child) {

        &::after {
          background-color: $white;
        }
      }
    }
  }

  .footer-secondary-menus {
    a {
      font-weight: 600;
      text-transform: uppercase;
      color: $yellow-pantone;
    }
  }
}

.footer-copyright {
  font-size: 14px;
  background-color: $black;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
  }
}