// Header

#header {
  position: absolute;
  width: 100%;
  z-index: 1080;
  font-weight: 600;
  text-transform: uppercase;

  .topbar {
    display: none;
    background-color: rgba(0, 0, 0, 0.44);

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
      display: block;
    }
  }

  .topbar-menu-wrap {
    display: flex;
    flex: 1;

    &:first-child {
      justify-content: flex-start;
    }

    &:last-child {
      justify-content: flex-end;
    }

    li {
      &:not(:last-child) {
        position: relative;

        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          width: 1px;
          height: 50%;
          background-color: $yellow-pantone;
          transform: translateY(50%) translateX(0.5rem);
        }
      }
    }
  }

  .topbar-menu>ul,
  .topbar-menu {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 8px 0;
    font-size: 12px;

    li:not(:first-child),
    .menu-item:not(:first-child) {
      padding-left: 16px;
    }

    a {
      text-decoration: none;
    }
  }

  &.sticky {
    position: relative;

    .navbar {
      position: fixed;
      top: 0;
      width: 100%;
    }
  }
}