// Has Font Size

@each $name,
$size in $sizes {
    .has-#{$name}-font-size {
        font-size: $size;
    }
}

.has-big-font-size {
    @media (max-width: 767.98px) {
        font-size: 32px;
    }
}

.has-huge-font-size {
    @media (max-width: 767.98px) {
        font-size: 36px;
    }
}