//

.is-style-caption-on-left,
.is-style-caption-on-right {
    position: relative;

    figcaption {
        position: absolute;
        top: 50%;
        margin: 0;
    }
}

.is-style-caption-on-left {
    figcaption {
        transform: translate(125px, -50%);

        @media (max-width: 413.98px) {
            transform: translate(100%, -50%);
        }
    }
}

.is-style-caption-on-right {
    figcaption {
        transform: translate(-150px, -50%);

        @media (max-width: 413.98px) {
            transform: translate(-115%, -50%);
        }
    }
}