// Column with Rounded Corners

.is-style-paragraph-rounded-corner {
    padding-top: 35px !important;
    padding-bottom: 35px !important;
    border-radius: 35px;

    @media (min-width: 992px) {
        padding: 60px !important;
    }
}