// Column with hover effect

.is-style-column-alt-hover {
  padding: 15px;
  border-radius: 35px;

  a {
    transition: none;
  }

  &:hover {
    color: #000000;
    background-color: #ffe302;

    a {
      color: #000000;
    }
  }
}


// .is-style-column-alt-hover {
//   position: relative;

//   .wp-block-image+.wp-block-image {
//     display: none;
//   }

//   &:hover .wp-block-image {
//     display: none;

//     +.wp-block-image {
//       display: block;
//     }
//   }
// }

// @media (min-width: 992px) {
//   .is-style-column-alt-hover {
//     min-height: 350px;

//     .more-link {
//       position: absolute;
//       right: 0;
//       bottom: 0;
//       left: 0;
//     }
//   }
// }