// Column with Rounded Corners

.is-style-column-rounded-corner-border {
    margin-left: 15px !important;
    margin-right: 15px !important;
    padding: 15px;
    border: 1px solid #fff;
    border-radius: 35px;
}