// Types

body {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.6;
  color: #fff;
  background-color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding-bottom: 30px;
  font-weight: 400;

  &>* {
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      right: -15px;
      bottom: -10px;
      width: 37px;
      height: 36px;
      background-image: url("data:image/webp;base64,UklGRr4AAABXRUJQVlA4TLEAAAAvJMAIEKcx7vMfjNtIUpxc9zHz3e+CMoCAmp7QgxGgpyYA4QcYwQVWVgBgpqUnNOBjogUNIXSEgIDAkSTZptUP37Ztq/a/u4dzhn8U0f8JkEf4Mynw9lDi7qHJycOQrYcFEwfBmY6DHpfQwYaZ7Bu/d8XBkYXsR9zLdu0nA5nXbqxl3rqxK5iNX+yLMq4fYBnLNOhuvtwHyj8uNfvzM7xXZSWT93VWVdocPo/TdtqJlB4A");

      @media (min-width: 992px) {
        right: -30px;
        bottom: -15px;
      }
    }
  }
}

a {
  color: #ffe302;
}