// Block Image

.wp-block-image {
    margin-bottom: 0;

    .aligncenter {
        text-align: center;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    figcaption {
        color: #fff;
        font-size: 1rem;
        font-weight: 400;
        text-align: center;
    }
}