/* Shared Styles */
body {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.6;
  color: #fff;
  background-color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding-bottom: 30px;
  font-weight: 400;
}
h1 > *,
h2 > *,
h3 > *,
h4 > *,
h5 > *,
h6 > * {
  position: relative;
}
h1 > *::after,
h2 > *::after,
h3 > *::after,
h4 > *::after,
h5 > *::after,
h6 > *::after {
  content: "";
  display: block;
  position: absolute;
  right: -15px;
  bottom: -10px;
  width: 37px;
  height: 36px;
  background-image: url("data:image/webp;base64,UklGRr4AAABXRUJQVlA4TLEAAAAvJMAIEKcx7vMfjNtIUpxc9zHz3e+CMoCAmp7QgxGgpyYA4QcYwQVWVgBgpqUnNOBjogUNIXSEgIDAkSTZptUP37Ztq/a/u4dzhn8U0f8JkEf4Mynw9lDi7qHJycOQrYcFEwfBmY6DHpfQwYaZ7Bu/d8XBkYXsR9zLdu0nA5nXbqxl3rqxK5iNX+yLMq4fYBnLNOhuvtwHyj8uNfvzM7xXZSWT93VWVdocPo/TdtqJlB4A");
}
@media (min-width: 992px) {
  h1 > *::after,
h2 > *::after,
h3 > *::after,
h4 > *::after,
h5 > *::after,
h6 > *::after {
    right: -30px;
    bottom: -15px;
  }
}

a {
  color: #ffe302;
}

.wp-block {
  max-width: 1140px;
}

.wp-block[data-align=wide] {
  max-width: 1360px;
}

.wp-block[data-align=full] {
  max-width: none;
}

@media (max-width: 767.98px) {
  .wp-block-gallery .blocks-gallery-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .wp-block-gallery .blocks-gallery-grid .blocks-gallery-item {
    margin: 0;
    width: 100%;
  }
}

.wp-block-group *:last-child {
  margin-bottom: 0;
}

.wp-block-cover,
.wp-block-cover-image {
  padding-top: 30px;
  padding-bottom: 30px;
}

.wp-block-columns {
  margin-top: 30px;
  margin-bottom: 30px;
  flex-direction: column;
}
@media (min-width: 992px) {
  .wp-block-columns {
    flex-direction: row;
  }
}

.wp-block-column {
  padding-left: 15px;
  padding-right: 15px;
  margin: 15px 0 !important;
}

.wp-block-quote {
  border-color: #fff;
}

.wp-block-image {
  margin-bottom: 0;
}
.wp-block-image .aligncenter {
  text-align: center;
}
.wp-block-image img {
  max-width: 100%;
  height: auto;
}
.wp-block-image figcaption {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

.wp-block-separator {
  border-bottom: 1px solid;
  opacity: 1;
}
.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
  width: 70px !important;
}

.has-small-font-size {
  font-size: 12px;
}

.has-normal-font-size {
  font-size: 16px;
}

.has-medium-font-size {
  font-size: 20px;
}

.has-big-font-size {
  font-size: 36px;
}

.has-huge-font-size {
  font-size: 50px;
}

@media (max-width: 767.98px) {
  .has-big-font-size {
    font-size: 32px;
  }
}

@media (max-width: 767.98px) {
  .has-huge-font-size {
    font-size: 36px;
  }
}

.has-white-color {
  color: #ffffff !important;
}

.has-white-background-color {
  background-color: #ffffff !important;
}

.has-yellow-pantone-color {
  color: #ffe302 !important;
}

.has-yellow-pantone-background-color {
  background-color: #ffe302 !important;
}

.has-black-color {
  color: #000000 !important;
}

.has-black-background-color {
  background-color: #000000 !important;
}

.is-style-mobile-columns-reverse {
  flex-direction: column-reverse;
}
@media (min-width: 992px) {
  .is-style-mobile-columns-reverse {
    flex-direction: row;
  }
}

@media (min-width: 992px) {
  .is-style-column-border-right {
    border-right: 1px solid #fff;
  }
}

.is-style-column-rounded-corner-border {
  margin-left: 15px !important;
  margin-right: 15px !important;
  padding: 15px;
  border: 1px solid #fff;
  border-radius: 35px;
}

.is-style-paragraph-rounded-corner {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
  border-radius: 35px;
}
@media (min-width: 992px) {
  .is-style-paragraph-rounded-corner {
    padding: 60px !important;
  }
}

@media (max-width: 991.98px) {
  .is-style-mobile-text-align {
    text-align: center;
  }
}

.is-style-caption-on-left,
.is-style-caption-on-right {
  position: relative;
}
.is-style-caption-on-left figcaption,
.is-style-caption-on-right figcaption {
  position: absolute;
  top: 50%;
  margin: 0;
}

.is-style-caption-on-left figcaption {
  transform: translate(125px, -50%);
}
@media (max-width: 413.98px) {
  .is-style-caption-on-left figcaption {
    transform: translate(100%, -50%);
  }
}

.is-style-caption-on-right figcaption {
  transform: translate(-150px, -50%);
}
@media (max-width: 413.98px) {
  .is-style-caption-on-right figcaption {
    transform: translate(-115%, -50%);
  }
}

/*# sourceMappingURL=shared-styles.css.map */
